*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#lateralBAr{
    width:30px;
    height:60px;
    background-color: brown;

}
#lateralBAr:hover{
    animation: displayShowUp 2s linear;
}
@keyframes displayShowUp{
    from{
        transform: scale(1);
    }
    to{
        transform: scaleX(300px), scaleY(600px);

    }
}