*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
body{
    height:100vh;
    width:100vw;
    background-color:rgb(244, 235, 213);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#principal{
    height:80%;
    width:80%;
    box-shadow: 5px 5px 5px 5px gray;
    text-align: center;
    font-size: 40px;

    margin-bottom: 15px;

    margin-bottom: 30px;

}
.conteudo{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;

    
}
.conteudo .login{
    width:30%;
    height:30%;

    text-decoration: none;
    color: black;
}

.conteudo .login div{
    width:100%;
    height:100%;
    font-size:30px;
    box-shadow: 2px 2px 2px 2px gray;
    font-size: 30px;
    text-align: center;
    background-color:rgb(244, 235, 213);
    margin: 5px auto;
    transition: transform .2s;
}
.conteudo div:hover{
    transform:scale(1.05);
}
=======
    background-color:rgb(244, 235, 213);
    margin: 5px auto;
    box-shadow: 2px 2px 2px 2px gray;
    font-size: 30px;
    text-align: center;

    transition: transform .2s;

}
.conteudo div:hover{
    transform:scale(1.05);
    font-size:30px;
}

