body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.product-list {
    display: flex;
    justify-content: center;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h4 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}


main {
    padding: 20px;
}

.categorias {
    display: flex;
    gap: 10px;
}

.categoria {
    padding: 10px;
    border: none;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}

.categoria:hover {
    background-color: #cc5500;
}

.carrinho {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#ver-carrinho, #finalizar-pagamento {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
}

#ver-carrinho:hover, #finalizar-pagamento:hover {
    background-color: #cc5500;
}

#pagamento {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.hidden {
    display: none;
}
