@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     list-style: none;
     text-decoration: none;
      
}
 html{
    font-family: "Open Sans", sans-serif
 }

 body{
    background: orange;
 }

 img{
    width: 300px;
    border-radius: 90%;

 }


 .div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    padding: 30px 0;
    background: white;
 }

 .div-header h3 span {
    color: black;
 }

 .div-header h3 {
    color: orange;
 }


 /* header:cabeça*/

 .nav-container {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position:absolute;
}

  .nav-container .logo {
    width: 80px;
 }

 .nav-container .logo img {
    display: flex;
    position: absolute;
    border-radius: 50%;
 }

 .hamburger {
 display: none;

 }

 .nav-bar ul {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;

 }

 .nav-bar ul li a {
    display: block;
    color: white;
    font-size: 15x;
    padding: 10px 25px;
    border-top-left-radius: 25px;
    transition: .5s;
    margin: 0 10px;
 }

 .nav-bar ul li a:hover{
    color: black;
    background: orange;
 }

 /*informação do header= cabeça*/
header .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(0, 0,0, .50),rgb(0, 0,0, .50)),url(002.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

header .content h2{
    color: orange;
    font-size: 30px;
    padding: 10px 0;
}

header .content label{
    font-size: 20px;
}

/*Suporte*/

.SUPORTE-box {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 30px;
    background: #f8f8f8;
}

.SUPORTE-box .SUPORTE-imagem{
    margin: 50px;
    width: 400px;
}

.SUPORTE-box .SUPORTE-body{
    width: 600px;
    font-size: 17px;

}

.SUPORTE-box .SUPORTE-body h3 {
    color: orange;
    position: none;
    bottom: 30px;
    font-size: 20px;

}

.SUPORTE-body p {
    line-height: 30px;
}

.SUPORTE-body a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    font-size: 15px;
    color: black;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}
 
.SUPORTE-body a:hover{
    background-color: orange;
}

/*SERVIÇO*/

.SERVIÇO-BOX {
    background: #f8f8f8;
}
.SERVIÇO-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;

}

.SERVIÇO-BOX .SERVIÇO-tittle h2 {
    color: orange;
    margin: 10px;
}

.SERVIÇO-BOX .SERVIÇO-tittle h2 span {
    color:black;
}
.SERVIÇO-BOX .SERVIÇO-tittle label {
    display: inline-block;
    margin: 5px 0;
    font-size: 19px;
}

label{
    color: white;
    background: linear-gradient(to right, black, orange, red);
}
p{
   color: white;
    background: linear-gradient(to left, green,purple,black);
}


